<!DOCTYPE html>
<html>
  <head>
    <title>This is the test of middleware</title>
    <link rel="stylesheet" href="../assets/styles.css">
  </head> 

  <body>
    <h1>This is the test</h1>
  </body>
</html>